<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% style "assets/bootswatch/bootstrap.min.css" %}
    {% style "bower_components/fontawesome/css/font-awesome.min.css" %}
    {% style "css/screen.css" %}
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Halstuchkonfigurator</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      {% block jumbotron %}
      {% endblock %}
    </div>

    <div class="container">

      <div class="page-header" id="banner">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% script "bower_components/jquery/dist/jquery.min.js" %}
    {% script "bower_components/tether/dist/js/tether.min.js" %}
    {% script "bower_components/bootstrap/dist/js/bootstrap.min.js" %}

  </body>
</html>
